@model DateRangeViewModel

<h1>Physical Activity Chart</h1>

<div>
    <label>From:</label>
    <input class="form-control js-from-date" type="date" />
    <br />
    <label>To:</label>
    <input class="form-control js-to-date" type="date" />
    <br />
    <button class="btn btn-primary js-chart-with-date-range">View Date Range Graph</button>
</div>

<div class="container">
    <div id="paChart">
        Please, select a date From and To in order to generate the chart
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/pa-chart.js"></script>
}