@model Physical_Activity

<h1>Add a new Physical Activity</h1>

<form asp-action="add" asp-controller="Physical_Activity" method="post">
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input class="form-control" asp-for="Duration">
    </div>
    <div class="form-group">
        <label asp-for="CaloriesBurned"></label>
        <input class="form-control" asp-for="CaloriesBurned">
    </div>
    <div class="form-group">
        <label asp-for="dayOfWeek"></label>
        <input class="form-control" asp-for="dayOfWeek">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Physical_Activity">Cancel</a>
</form>

